:root {
    --body-background-color: rgb(255, 255, 255);
    --text-color: rgb(41, 41, 41);
    --fine-text-color-A: rgb(79, 79, 79);
    --fine-text-color-B: rgb(211, 211, 211);
    --accent-grey-color: rgb(243, 243, 243);
    --accent-blue-color: rgb(255, 255, 255);
    --interactable-hover: rgb(220, 220, 220);
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: var(--body-background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body,
body > * {
    transition: color 100ms, background calc(500ms);
}

.title {
    font-size: 5em;
    margin: 1rem 0;
}

hr {
    background: var(--accent-grey-color);
    height: 0.2rem;
    border: none;
}

.content {
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
    /* width: 65%; */
    max-width: 680px;
}

.subtitle {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--fine-text-color-B);
}

.subtitle > q {
    font-size: 1em;
    quotes: initial;
    font-style: italic;
}

.content-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
}

.content-text > .u {
    font-style: italic;
    text-decoration: underline;
    text-decoration-thickness: 0.25rem;
    background: #e7e7e7;
    padding: 0.1rem 0.2rem;
    border-radius: 3px;
    line-height: 1.8rem;
}

.content-text > .h {
    background: #e3e499 !important;
    padding: 0.1rem 0.2rem;
    border-radius: 3px;
    line-height: 1.8rem;
}
