:root {
    --body-background-color: #ffffff;
    --text-color: #292929;
    --fine-text-color-A: #4f4f4f;
    --fine-text-color-B: #d3d3d3;
    --text-accent-decoration: #e7e7e7;
    --accent-grey-color: #f3f3f3;
    --accent-blue-color: #ffffff; /* what */
    --interactable-hover: #eeeeee;
}

body {
    background: var(--body-background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

body,
body * {
    transition: color 100ms, background calc(500ms);
    font-family: Georgia, "Times New Roman", Times, serif;
}

.title {
    font-size: 5em;
    margin: 1rem 0;
}

hr {
    background: var(--accent-grey-color);
    height: 0.2rem;
    border: none;
}

.main-content {
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
    /* width: 65%; */
    max-width: 680px;
}

.subtitle {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--fine-text-color-B);
}

.subtitle > q {
    font-size: 1em;
    quotes: initial;
    font-style: italic;
}

.content-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
}

.content-text > .u {
    font-style: italic;
    text-decoration: underline;
    text-decoration-thickness: 0.25rem;
    background: var(--text-accent-decoration);
    padding: 0.1rem 0.2rem;
    border-radius: 3px;
    line-height: 1.8rem;
}

.content-text > .h {
    background: #e3e499 !important;
    padding: 0.1rem 0.2rem;
    border-radius: 3px;
    line-height: 1.8rem;
}

pre {
    font-family: "Courier New", Courier, monospace;
    background: black;
    color: var(--body-background-color);
    padding: 1rem;
    border-radius: 5px;
    overflow: scroll;
}

button {
    padding: 1rem;
    background: var(--body-background-color);
    border: 3px solid black;
    cursor: pointer;
}

button:hover {
    background: var(--interactable-hover);
}

input[type="text"],
[type="email"],
[type="password"],
textarea {
    resize: none;
    outline: none;
    padding: 1rem;
    border: 3px solid #d3d3d3;
    font-size: 1.2em;
}
